<%= content_for :header do %>    
  <%= render 'shared/header' %>
<% end %>
<% content_for :sidebar do %>
  <%= hook :taxon_sidebar_navigation do %>
    <%= render :partial => "shared/taxonomies" %>
    <%= render(:partial => "shared/filters") if @taxon.children.empty? %>
  <% end %>
<% end %>

<h1>
<% if params["gender"] == "male"%>
  <span>МУЖСКОЙ ОТДЕЛ /</span>
<% end %>
<% if params["gender"] == "female"%>
  <span>ЖЕНСКИЙ ОТДЕЛ /</span>
<% end %>
<% if @taxon.nil? == false %>
	<%= @taxon["name"] %>
<% end %>
</h1>


<% if @taxon.children.empty? || !params[:keywords].blank? %>
  <%= hook :taxon_products do %>
    <%= render :partial => "shared/products", :locals => {:products => @products, :taxon => @taxon } %>
  <% end %>
<% else %>
  <%= hook :taxon_children do %>
    <%= render :partial => "taxon", :collection => @taxon.children %>
  <% end %>
<% end %>

<%= content_for :page do %>    
  <%= render 'shared/personal_page' %>
<% end %>

