<div id="mailsub" style="font-size:14px; line-height:17px; color:#000000; font-family:Arial, Helvetica, sans-serif; background-color:#ffffff;">
<table cellpadding="0" cellspacing="0" border="0" width="100%"><tr>
<td height="120" valign="top"><img src="http://<%= Spree::Config[:site_url] %>/images/header_bg.gif" width="100%" height="85" style="display:block;" /></td>
<td width="128" height="120" valign="top"><img src="http://<%= Spree::Config[:site_url] %>/images/header_logo.gif" width="128" height="85" alt="Candies" style="display:block;" /></td>
<td height="120" valign="top"><img src="http://<%= Spree::Config[:site_url] %>/images/header_bg.gif" width="100%" height="85" style="display:block;" /></td>
</tr></table>
<table cellpadding="0" cellspacing="0" border="0" width="100%"><tr><td>&nbsp;</td><td width="570">

<center><font style="font-size:21px; line-height:21px;">Здравствуйте!</font></center>
<br /><div style="border-bottom:1px dotted #000;"></div><br />
На ваш email было запрошено восстановление пароля.<br />
Чтобы продолжить восстановление пароля - кликните на ссылку ниже:<br /><br />
<a href="<%= @edit_password_reset_url %>"><%= @edit_password_reset_url %></a>
<br />
<br /><div style="border-bottom:1px dotted #000;"></div><br />
<a href="<%= for_mail_host %>" style="font-size:18px; line-height:21px; color:#000000; float:right;">Войти в магазин</a>
С наилучшими пожеланиями, Candies.<br />
<a href="http://www.thecandies.ru/">www.thecandies.ru</a><br />
<br />
<br /><br />

</td><td>&nbsp;</td></tr></table>
</div>