    <ul class="checkout-steps">
      <li class="cur"><a>1</a></li>
      <li><a>2</a></li>
      <li><a>3</a></li>
    </ul>

  <%= form_for @order, :url => update_checkout_path(@order.state), :html => { :id => "checkout_form_#{@order.state}" }, remote: true do |form| %>
    <div class="left-colum">

      <h3>КОНТАКТНЫЕ ДАННЫЕ</h3>

      <div class="checkout-form">

        <%= form.fields_for :ship_address do |ship_form| %>
          <div class="checkout-box">

            <div class="form-item w175">
              <%= ship_form.label :firstname, 'ИМЯ' %>
              <%= ship_form.text_field :firstname, :class => 'textfield' %>
            </div>
            <div class="form-item w240">
              <%= ship_form.label :lastname, 'ФАМИЛИЯ' %>
              <%= ship_form.text_field :lastname, :class => 'textfield' %>
            </div>

            <div class="form-item w416">
              <%= form.label :email, 'EMAIL' %>
              <% if @order.email == 'temporaryemail@example.com' %>
                <%= form.text_field :email, :class => 'textfield', value: '' %>
              <% else %>
                <%= form.text_field :email, :class => 'textfield' %>
              <% end %>
            </div>

            <div class="form-item w416">
              <%= ship_form.label :phone, 'ТЕЛЕФОН' %>
              <%= ship_form.text_field :phone, :class => 'textfield' %>
            </div>

          </div>

      </div>

    </div>

    <div class="right-colum">

      <h3>Адрес доставки заказа:</h3>

      <div class="checkout-form">

          <div class="checkout-box">

            <% if current_user %>
              <div class="form-item w416">
                <label>Выберите адрес из адресной книги</label>
                <% selected_ship_address_id = current_user.same_address(@order.ship_address).id rescue nil %>
                <%= collection_select :address, :id, current_user.addresses.default_first, :id, :to_s, 
                    {selected: selected_ship_address_id, :include_blank => true}, 
                    :class => 'select', id: 'select-address-book-ship' %>
              </div>
            <% end %>

            <div class="form-item w416">
              <%= ship_form.label :address1, 'АДРЕС' %>
              <%= ship_form.text_area :address1, :class => 'textfield' %>
            </div>
            <div class="form-item w184">
              <%= ship_form.label :country_id, 'СТРАНА' %>
              <%= ship_form.collection_select :country_id, available_countries, :id, :name, {}, :class => 'select' %>
            </div>
            <div class="form-item w232">
              <%= ship_form.label :city, 'ГОРОД' %>
              <%= ship_form.text_field :city, :class => 'textfield' %>
            </div>
            <div class="form-item w272">
              <%= ship_form.label :state, t(:state) %>
              <%= ship_form.collection_select :state_id, @order.ship_address.country.states, :id, :name, {}, :class => 'select' %>
            </div>
            <div class="form-item w145">
              <%= ship_form.label :zipcode, 'ИНДЕКС' %>
              <%= ship_form.text_field :zipcode, :class => 'textfield number', maxlength: '6' %>
            </div>
            <div class="form-item">
              <div class="checkbox-box">
<!--                 <label><input type="checkbox" class="js-hide-delivery-address-form"> -->
                <label><%= check_box_tag 'order[use_billing]', '1', @order.bill_address == @order.ship_address ? true : false, { class: "js-hide-delivery-address-form" } %>
                Адрес плательщика совпадает с адресом доставки заказа</label>
              </div>
            </div>
          </div>

        <% end %>
      </div>

    </div>

    <div class="js-delivery-address-form-block">
      <div class="left-colum">

        <h3>КОНТАКТНЫЕ ДАННЫЕ ПЛАТЕЛЬЩИКА</h3>

        <div class="checkout-form">

          <%= form.fields_for :bill_address do |bill_form| %>
            <div class="checkout-box">

              <div class="form-item w175">
                <%= bill_form.label :firstname, 'ИМЯ' %>
                <%= bill_form.text_field :firstname, :class => 'textfield' %>
              </div>
              <div class="form-item w240">
                <%= bill_form.label :lastname, 'ФАМИЛИЯ' %>
                <%= bill_form.text_field :lastname, :class => 'textfield' %>
              </div>
              <div class="form-item w416">
                <%= bill_form.label :phone, 'ТЕЛЕФОН' %>
                <%= bill_form.text_field :phone, :class => 'textfield' %>
              </div>
            </div>

        </div>

      </div>

      <div class="right-colum">

        <h3>Адрес плательщика</h3>

        <div class="checkout-form">

            <div class="checkout-box">

              <% if current_user %>
                <div class="form-item w416">
                  <label>Выберите адрес из адресной книги</label>
                  <% selected_bill_address_id = current_user.same_address(@order.bill_address).id rescue nil %>
                  <%= collection_select :address, :id, current_user.addresses.default_first, :id, :to_s, 
                      {selected: selected_bill_address_id, :include_blank => true}, 
                      :class => 'select', id: 'select-address-book-bill' %>
                </div>
              <% end %>

              <div class="form-item w416">
                <%= bill_form.label :address1, 'АДРЕС' %>
                <%= bill_form.text_area :address1, :class => 'textfield' %>
              </div>
              <div class="form-item w184">
                <%= bill_form.label :country_id, 'СТРАНА' %>
                <%= bill_form.collection_select :country_id, available_countries, :id, :name, {}, :class => 'select' %>
              </div>
              <div class="form-item w232">
                <%= bill_form.label :city, 'ГОРОД' %>
                <%= bill_form.text_field :city, :class => 'textfield' %>
              </div>
              <div class="form-item w272">
                <%= bill_form.label :state, t(:state) %>
                <%= bill_form.collection_select :state_id, @order.bill_address.country.states, :id, :name, {}, :class => 'select' %>
              </div>
              <div class="form-item w145">
                <%= bill_form.label :zipcode, 'ИНДЕКС' %>
                <%= bill_form.text_field :zipcode, :class => 'textfield number', maxlength: '6' %>
              </div>
              <div class="form-item">
                <div class="checkbox-box">

                </div>
              </div>
            </div>
          <% end %>

        </div>

      </div>
    </div><!-- / .js-delivery-address-form-block -->

    <div class="left-colum">
      <div class="checkout-buttons">
        <%= link_to 'НАЗАД', back_checkout_path(@order.state), class: 'button', remote: true %>
      </div>
    </div>

    <div class="right-colum">
      <div class="checkout-buttons" align="right">
        <span class="btn-wrap"><input type="submit" class="button" value="ДАЛЬШЕ"></span>
      </div>
    </div>

  <% end %>

<script>
  toggleDAF();
</script>
