<%= form_for @order, :url => update_checkout_path(@order.state), :html => { :id => "checkout_form_#{@order.state}" }, remote: true do |form| %>
        <% @order.rate_hash.each do |shipping_method| %>

            <%= radio_button(:order, :shipping_method_id, shipping_method[:id]) %>
            <%= shipping_method[:name] %> <%= number_to_currency shipping_method[:cost] %>

        <% end %>

    <% if Spree::Config[:shipping_instructions] && @order.rate_hash.present? %>

        <%= form.label :special_instructions, t("shipping_instructions") %><br />
        <%= form.text_area :special_instructions, :cols => 40, :rows => 7 %>

    <% end %>

      <legend><%= t("payment_information") %></legend>
    <% @order.available_payment_methods.each do |method| %>
    <p>
      <label>
        <%= radio_button_tag "order[payments_attributes][][payment_method_id]", method.id, method == @order.payment_method %>
        <%= t(method.name, :scope => :payment_methods, :default => method.name) %>
      </label>
    </p>

    <ul id="payment-methods">
      <% @order.available_payment_methods.each do |method| %>
        <li id="payment_method_<%= method.id %>"<%= ' class="last"' if method == @order.available_payment_methods.last %>>
          <fieldset>
            <%= render "checkout/payment/#{method.method_type}", :payment_method => method %>
          </fieldset>
        </li>
      <% end %>
    </ul>
    <br style='clear:both;' />
  <% end %>
</fieldset>

<hr class="space" />
<div class="form-buttons">
  <input type="submit" class="continue button primary" value="Далее" />
</div>
<% end %>

