
<%= content_for :header do %>    
  <%= render 'shared/header' %>
<% end %>
<h2>Сменить мой пароль</h2>

<div class="form-box left-colum">
	<div class="left-colum">
	<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, :id => 'user_new_pass' }) do |f| %>
	<% if @user.errors %>
	  <% @user.errors.full_messages.each do |error| %>
	  	<% if error == 'Reset password token имеет неверное значение' %>
	  		Что-то пошло не так и восстановить пароль не удалось. 
	  		Скорее всего ссылка восстановления пароля устарела 
	  		или вы попытались восстановить пароль второй раз по одной и той же ссылке.
	  		Запросите письмо с инструкциями еще раз и попробуйте снова.<br /><br />
	  	<% else %>
	  		<%= error %>
	  	<% end %>
	  <% end %>
	 <% end %>

	  <%= f.hidden_field :reset_password_token %>

	  <div class="form-item w346 new_password">	
	  <%= f.label :password, "Новый пароль" %>
	  <%= f.password_field :password, :class => "textfield" %>
	  </div>
	
	  <div class="form-item w346 new_password">
	  <%= f.label :password_confirmation, "Повторите новый пароль" %>
	  <%= f.password_field :password_confirmation, :class => "textfield" %>
	  </div>
	
	  <%= f.submit "Сменить пароль", :class => "button" %>
	<% end %>
	</div>
</div>
<style>
	.new_password label {
		color: black;
	}
</style>
