<% @page = Page.find_by_title('about') %>
<div class="wrapper">
  
    <div class="about-contacts dotted">
      <div class="phone"><%= @page.phone rescue nil %></div>
      <div class="map"><%= @page.address.html_safe rescue nil %></div>
      <a href="http://www.facebook.com/likethecandies"><img src="/images/ico_fb.png" width="101" height="33" alt="facebook"></a>
      <a href="http://vk.com/thecandies"><img src="/images/ico_vk.png" width="101" height="33" alt="vkontakte"></a>
			<a href="https://twitter.com/TheCandiesShoes"><img src="/images/ico_tw.png" width="101" height="33" alt="twitter"></a>
    </div>
    
    <div class="about-candies">
      <%= @page.body.html_safe rescue nil %>
    </div>
    
    <div class="about-deliver dotted">
      <div class="dotted">
        <img src="/images/ico_home.png" width="32" height="33" class="left">
        <img src="/images/ico_box.png" width="40" height="33" class="right">
      </div>
      <div class="left-colum">
        <%= @page.body2.html_safe rescue nil %>
      </div>
      <div class="right-colum">
        <%= @page.body3.html_safe rescue nil %>
      </div>
      
    </div>
    
    <div class="about-deliver dotted">
      <p>
        <a href="https://money.yandex.ru" target="_blank" style="float:left; margin-right:1em">
          <img src="https://money.yandex.ru/img/yamoney_logo88x31.gif" alt="Мы принимаем Яндекс.Деньги" title="Мы принимаем Яндекс.Деньги" border="0" width="88" height="31"/>
        </a>
        
        <!-- TODO: сделать редактируемым. Желательно как-то оставить текущий с помощью `rescue` или чтобы в админке был заполнен сразу (этот текст взят из требований) -->
        Яндекс.Деньги — доступный и безопасный способ платить за товары и услуги через интернет. 
        Пополнение счета и оплата заказов происходят в реальном времени 
        <a href="http://money.yandex.ru/" target="_blank">на сайте платежной системы</a>.
        
      </p>
      <div style="clear:both; height:1em"></div>
      <p>
        <a href="http://www.webmoney.ru/" target="_blank" style="float:left; margin-right:1em">
          <img src="http://www.webmoney.ru/img/icons/88x31_wm_blue_on_white_ru.png" alt="Мы принимаем WebMoney" title="Мы принимаем WebMoney" border="0" width="88" height="31">
        </a> 
        
        <!-- TODO: сделать редактируемым -->
        ~ Текст о WebMoney ~
        
      </p>
      <div style="clear:both; height:1em"></div>
    </div>
    
    <a name="sizes"></a>
    
    <div class="about-table-header">
      <img src="/images/ico_female.png" width="56" height="67" alt="female">
      <p>В таблицах, в верхней строчке - длина стопы в сантиметрах. Приведены ориентировочные значения (у разных производителей размер может отличаться от табличных на 1-2 размера).</p>
    </div>
    
    <table class="about-table">
      <tr>
        <th>Длина стопы</th>
        <th>22</th>
        <th>22.5</th>
        <th>23</th>
        <th>23.5</th>
        <th>24</th>
        <th>24.5</th>
        <th>25</th>
        <th>25.5</th>
        <th>26</th>
        <th>26.5</th>
        <th>27</th>
        <th>27.5</th>
        <th>28</th>
        <th>29.5</th>
      </tr>
      <tr>
        <td>Европа</td>
        <td>34</td>
        <td>34.5</td>
        <td>35</td>
        <td>35,5</td>
        <td>36</td>
        <td>36,5</td>
        <td>37</td>
        <td>37,5</td>
        <td>38</td>
        <td>39</td>
        <td>40</td>
        <td>41</td>
        <td>42</td>
        <td>43</td>
      </tr>
      <tr>
        <td>Англия</td>
        <td>2.5</td>
        <td>3</td>
        <td>3.5</td>
        <td>4</td>
        <td>4.5</td>
        <td>5</td>
        <td>5.5</td>
        <td>6</td>
        <td>6.5</td>
        <td>7</td>
        <td>7.5</td>
        <td>8</td>
        <td>9.5</td>
        <td>10.5</td>
      </tr>
      <tr>
        <td>США</td>
        <td>5</td>
        <td>5.5</td>
        <td>6</td>
        <td>6.5</td>
        <td>7</td>
        <td>7.5</td>
        <td>8</td>
        <td>8.5</td>
        <td>9</td>
        <td>9.5</td>
        <td>10</td>
        <td>10.5</td>
        <td>12</td>
        <td>13</td>
      </tr>
    </table>
    
    <div class="about-table-header">
      <img src="/images/ico_male.png" width="55" height="67" alt="male">
      <p>В таблицах, в верхней строчке - длина стопы в сантиметрах. Приведены ориентировочные значения (у разных производителей размер может отличаться от табличных на 1-2 размера).</p>
    </div>
    
    <table class="about-table">
      <tr>
        <th>Длина стопы</th>
        <th>22</th>
        <th>22.5</th>
        <th>23</th>
        <th>23.5</th>
        <th>24</th>
        <th>24.5</th>
        <th>25</th>
        <th>25.5</th>
        <th>26</th>
        <th>26.5</th>
        <th>27</th>
        <th>27.5</th>
        <th>28</th>
        <th>29.5</th>
      </tr>
      <tr>
        <td>Европа</td>
        <td>36</td>
        <td>37</td>
        <td>37.5</td>
        <td>38</td>
        <td>38.5</td>
        <td>39</td>
        <td>40</td>
        <td>41</td>
        <td>42</td>
        <td>43</td>
        <td>44</td>
        <td>45</td>
        <td>46</td>
        <td>47</td>
      </tr>
      <tr>
        <td>Англия</td>
        <td>4</td>
        <td>4,5</td>
        <td>5</td>
        <td>5,5</td>
        <td>6</td>
        <td>6,5</td>
        <td>7</td>
        <td>7,5</td>
        <td>8</td>
        <td>8,5</td>
        <td>10</td>
        <td>11</td>
        <td>12</td>
        <td>13</td>
      </tr>
      <tr>
        <td>США</td>
        <td>5</td>
        <td>5,5</td>
        <td>6</td>
        <td>6,5</td>
        <td>7</td>
        <td>7,5</td>
        <td>8</td>
        <td>8,5</td>
        <td>9</td>
        <td>9,5</td>
        <td>10,5</td>
        <td>11.5</td>
        <td>12,5</td>
        <td>14</td>
      </tr>
    </table>
    
    
    
  </div>
<%= content_for :head  do %>
    <script>
      $(document).ready(function(e){
         page_height = $('.page.white').height();
         $('html, body').animate({scrollTop: page_height + 72}, 1200);
         e.preventDefault;
      });
    </script>
<% end %>