<h3 class="right">
  <a href="accaunt_edit" id="show_accaunt_edit" class="small">Изменить</a> <%= link_to 'Выйти', destroy_user_session_path, class: 'small' %>
</h3>

<div class="user-name">
  <div>
    <%= current_user.email %><br>
    тел: <%= current_user.phone %>
  </div>
  <h5><%= current_user.firstname %> <%= current_user.lastname %></h5>
</div>

<div class="user-address">
  <p>
    Адрес по умолчанию :
  </p>
  <h5>
    <%= current_user.default_address.address1 %><br />
    <%= current_user.default_address.city %>, <%= current_user.default_address.state %><br />
    <%= current_user.default_address.country %>
  </h5>
  
  <p>
    <a href="/address_book" id="show_address_book">Посмотреть / Редактировать  адресную книгу</a>
    Всего адресов: <%= current_user.addresses.count %>
  </p>
</div>
<div class="dotted">&nbsp;</div><br><br>

<div class="order-history">
  <h3 class="left">История заказов :</h3>
  <ul class="order-history-list">
    <% if current_user.orders.select { |order| order.completed? }.empty? %>
      У вас еще нет завершенных заказов.
    <% else %>
      <% current_user.orders.select { |order| order.completed? }.each do |order| %>
        <%= render 'shared/order_history', order: order %>
      </li>
      <% end %>
    <% end %>
  </ul>
</div>
