      <h3>
        КОНТАКТНЫЕ ДАННЫЕ
      </h3>
      
      <div class="checkout-form">
        <%= form_for current_user, url: user_registration_path, remote: true do |f| %>
          <div class="form-item w175">
            <%= f.label :firstname, 'ИМЯ' %>
            <%= f.text_field :firstname, class: 'textfield' %>
          </div>
          <div class="form-item w240">
            <%= f.label :lastname, 'ФАМИЛИЯ' %>
            <%= f.text_field :lastname, class: 'textfield' %>
          </div>

          <div class="form-item w416">
            <%= f.label :email, 'EMAIL' %>
            <%= f.text_field :email, class: 'textfield' %>
          </div>

          <div class="form-item w416">
            <%= f.label :phone, 'ТЕЛЕФОН' %>
            <%= f.text_field :phone, class: 'textfield' %>
          </div>
          <div class="form-item w94">
            <a href="/back" id="show_accaunt" class="button">ОТМЕНИТЬ</a>
          </div>
          <div class="form-item w322" align="right">
            <span class="btn-wrap"><input type="submit" class="button" value="СОХРАНИТЬ"></span>
          </div>
        <% end %>
      </div>
      
      <div class="user-address">
        <p>
          Адрес по умолчанию :
        </p>
        <h5>
          <%= current_user.default_address.address1 %><br />
          <%= current_user.default_address.city %>, <%= current_user.default_address.state %><br />
          <%= current_user.default_address.country %>
        </h5>
        
        <p>
          <a href="/address_book" id="show_address_book">Посмотреть / Редактировать  адресную книгу</a>
          Всего адресов: <%= current_user.addresses.count %>
        </p>
      </div>
      <div class="dotted">&nbsp;</div><br><br>
      
      <div class="order-history">
        <h3 class="left">История заказов :</h3>
        <ul class="order-history-list">
          <% if current_user.orders.select { |order| order.completed? }.empty? %>
            У вас еще нет завершенных заказов.
          <% else %>
            <% current_user.orders.select { |order| order.completed? }.each do |order| %>
              <%= render 'shared/order_history', order: order %>
            <% end %>
          <% end %>
        </ul>
      </div>
