 <h3 class="right">
                <a href="/back" id="show_accaunt" class="small">назад</a>
      </h3>
      
      <div class="user-name">
        <div>
          <%= current_user.email %><br>
          тел: <%= current_user.phone %>
        </div>
        <h5><%= current_user.firstname %> <%= current_user.lastname %></h5>
      </div>
      
      <div class="user-address">
        <p>
          Адрес по умолчанию :
        </p>
        <div class="options">
          <%= link_to 'Редактировать', edit_address_path(current_user.default_address), remote: true %>
        </div>
        <h5>
          <%= current_user.default_address.address1 %><br />
          <%= current_user.default_address.city %>, <%= current_user.default_address.state %><br />
          <%= current_user.default_address.country %>
        </h5>
        
          <p>
            Остальные адреса:
          </p>

        <% if current_user.addresses.count > 1 %>
          <% for address in current_user.addresses.without_address(current_user.default_address) %>
            <div class="options">
              <%= link_to 'Редактировать', edit_address_path(address), remote: true %>
              <%= link_to 'Удалить', address_path(address), method: :delete, remote: true, class: 'ico-remove' %>
            </div>
            <h5>
              <%= address.address1 %><br />
              <%= address.city %>, <%= address.state %><br />
              <%= address.country %>
            </h5>
            <div class="checkbox-box">
              <%= form_for :address, url: make_address_default_path, remote: true do |f| %>
                <%= f.hidden_field :id, value: address.id %>
                <input id="address_make_default" type="checkbox">
                <label>Сделать адресом по умолчанию</label>
              <% end %>
            </div>
          <% end %>
        <% else %>
          ...
        <% end %>
      </div>

      <div class="dotted">&nbsp;</div><br><br>

      <div class="dotted">
        <h3><a href="add_address" id="show_add_address">ДОБАВИТЬ НОВЫЙ АДРЕС</a></h3><br>
      </div><br><br>

      <div class="order-history">
        <h3 class="left">История заказов :</h3>
        <ul class="order-history-list">
          <% if current_user.orders.select { |order| order.completed? }.empty? %>
            У вас еще нет завершенных заказов.
          <% else %>
            <% current_user.orders.select { |order| order.completed? }.each do |order| %>
            <li class="order-history-item">
              <p class="date"><%= order.completed_at %></p>
              <h4 class="order-history-name">
                Заказ № <%= order.number %>
                <span><%= number_to_currency order.total %></span>
              </h4>
              <div class="order-history-info">
                <div class="info dotted">
                  <p>Оплата: <%= order.payment_method.name %></p>
                  <p>Плательщик: <%= order.bill_address.firstname %> <%= order.bill_address.lastname %></p>
                  <p>&nbsp;</p>
                  <% if order.payment_method.is_a?(PaymentMethod::SberBankInvoice) %>
                    <p><%= link_to 'скачать квитанцию', orders_sberbank_invoice_path(order), class: 'button' %></p>
                  <% end %>
                  <p><br>&nbsp;</p>
                  <p>Доставка: <%= order.shipping_method.name %></p>
                  <p>Получатель: <%= order.ship_address.firstname %> <%= order.ship_address.lastname %></p>
                  <p>Адрес доставки заказа:</p>
                  <p><%= order.ship_address.address1 %></p>
                  <p><br>&nbsp;</p>
<!--                   <form>
                    <h5>Печатные формы:</h5>
                    <input type="checkbox"><label>Инвойс</label>
                    <input type="checkbox"><label>Квитанция</label>
                    <p><input type="submit" class="button" value="ПЕЧАТЬ"></p>
                  </form> -->
                </div>
                <h4>Заказанные продукты:</h4>
                <ul class="dotted">
                  <% order.line_items.each do |line_item| %>
                    <li>
                      <p class="num">кол-во: <%= line_item.quantity %></p>
                      <p class="name"><%= line_item.variant.product.name %></p>
                      <p>
                        <span class="size">размер: 43</span>
                        <span class="color">цвет: черный</span>
                        <span class="price">цена:   <%= product_price(line_item.variant) %></span>
                      </p>
                    </li>
                  <% end %>
                </ul>
              </div>
            </li>
            <% end %>
          <% end %>
        </ul>
      </div>
