<%= order_form.fields_for :line_items do |item_form| %>
    <li class="cart-list-item">
      <% variant = item_form.object.variant %>
      <% line_item = item_form.object %>
      <div class="image">
        <% if variant.images.length == 0 %>
          <%= small_image(variant.product, { width: 33, height: 33 }) %>
        <% else %>
          <%= image_tag variant.images.first.attachment.url(:small), width: 33, height: 33 %>
        <% end %>
      </div>
      <div class="options">
        <%= item_form.text_field :quantity, :class => "textfield line_item_quantity" %>
        <a href="#" class="ico-remove delete">Удалить</a>
      </div>
      <div class="info">
        <p class="name"><%= variant.product.name %></p>
        <p>
          <span class="size">размер: 43</span>
          <span class="price">цена:   <%= product_price(line_item) %></span>
        </p>
      </div>
    </li>
<% end %>