      <h3>
        ИЗМЕНИТЬ АДРЕС
      </h3>

      <div class="user-name">
        <div>
          <%= current_user.email %><br>
          тел: <%= current_user.phone %>
        </div>
        <h5><%= current_user.firstname %> <%= current_user.lastname %></h5>
      </div>
      
      <div class="user-address">
        <p>
          Адрес по умолчанию :
        </p>
        <h5>
          <%= current_user.default_address.address1 %><br />
          <%= current_user.default_address.city %>, <%= current_user.default_address.state %><br />
          <%= current_user.default_address.country %>
        </h5>
          <p>
            Изменить адрес:
          </p>
          
          <%= form_for @address, url: address_path(@address), remote: true do |address_form| %>

              <%= address_form.hidden_field :firstname, value: current_user.default_address.firstname %>
              <%= address_form.hidden_field :lastname, value: current_user.default_address.lastname %>
              <%= address_form.hidden_field :phone, value: current_user.default_address.phone %>
              <div class="form-item w416">
                <%= address_form.label :address1, 'АДРЕС' %>
                <%= address_form.text_area :address1, class: 'textfield' %>
              </div>
              <div class="form-item w184">
                <%= address_form.label :country_id, 'СТРАНА' %>
                <%= address_form.collection_select :country_id, available_countries, :id, :name, {}, class: 'select' %>
              </div>
              <div class="form-item w232">
                <%= address_form.label :city, 'ГОРОД' %>
                <%= address_form.text_field :city, :class => 'textfield' %>
              </div>
              <div class="form-item w272">
                <%= address_form.label :state, 'ОБЛАСТЬ' %>
                <%= address_form.collection_select :state_id, available_countries.first.states, :id, :name, {}, class: 'select' %> 
              </div>
              <div class="form-item w145">
                <%= address_form.label :zipcode, 'ИНДЕКС' %>
                <%= address_form.text_field :zipcode, :class => 'textfield' %>
              </div>
              <div class="form-item w94">
                <a href="/back" id="show_accaunt" class="button">ОТМЕНИТЬ</a>
              </div>

              <div class="form-item w322" align="right">
                <span class="btn-wrap"><input type="submit" class="button" value="СОХРАНИТЬ"></span>
              </div>
          <% end %>
      </div>

      <div class="dotted">&nbsp;</div><br><br>

      <div class="order-history">
        <h3 class="left">История заказов :</h3>
        <ul class="order-history-list">
          <% if current_user.orders.select { |order| order.completed? }.empty? %>
            У вас еще нет завершенных заказов.
          <% else %>
            <% current_user.orders.select { |order| order.completed? }.each do |order| %>
              <%= render 'shared/order_history', order: order %>
            <% end %>
          <% end %>
        </ul>
      </div>

      <script>
        $('.select').customSelect();
      </script>
