      <h3>
        ИЗМЕНИТЬ АДРЕС
      </h3>

      <div class="user-name">
        <div>
          <%= current_user.email %><br>
          тел: <%= current_user.phone %>
        </div>
        <h5><%= current_user.firstname %> <%= current_user.lastname %></h5>
      </div>
      
      <div class="user-address">
          <%= form_for @address, url: address_path(@address), remote: true do |address_form| %>

              <%= address_form.hidden_field :firstname, value: current_user.default_address.firstname %>
              <%= address_form.hidden_field :lastname, value: current_user.default_address.lastname %>
              <%= address_form.hidden_field :phone, value: current_user.default_address.phone %>
              <div class="form-item w416">
                <%= address_form.label :address1, 'АДРЕС' %>
                <%= address_form.text_area :address1, class: 'textfield' %>
              </div>
              <div class="form-item w184">
                <%= address_form.label :country_id, 'СТРАНА' %>
                <%= address_form.collection_select :country_id, available_countries, :id, :name, {}, class: 'select' %>
              </div>
              <div class="form-item w232">
                <%= address_form.label :city, 'ГОРОД' %>
                <%= address_form.text_field :city, :class => 'textfield' %>
              </div>
              <div class="form-item w272">
                <%= address_form.label :state, 'ОБЛАСТЬ' %>
                <%= address_form.collection_select :state_id, available_countries.first.states, :id, :name, {}, class: 'select' %> 
              </div>
              <div class="form-item w145">
                <%= address_form.label :zipcode, 'ИНДЕКС' %>
                <%= address_form.text_field :zipcode, :class => 'textfield' %>
              </div>
              <div class="form-item w94">
                <a href="/back" id="show_accaunt" class="button">ОТМЕНИТЬ</a>
              </div>

              <div class="form-item w322" align="right">
                <input type="submit" class="button" value="СОХРАНИТЬ">
              </div>
          <% end %>
      </div>

      <div class="dotted">&nbsp;</div><br><br>

      <div class="order-history">
        <h3 class="left">История заказов :</h3>
        <ul class="order-history-list">
          <% if current_user.orders.empty? %>
            У вас еще нет завершенных заказов.
          <% else %>
            <% current_user.orders.select { |order| order.completed? }.each do |order| %>
            <li class="order-history-item">
              <p class="date"><%= order.completed_at %></p>
              <h4 class="order-history-name">
                Заказ № <%= order.number %>
                <span><%= number_to_currency order.total %></span>
              </h4>
              <div class="order-history-info">
                <div class="info dotted">
                  <p>Оплата: <%= order.payment_method.name %></p>
                  <p>Плательщик: <%= order.bill_address.firstname %> <%= order.bill_address.lastname %></p>
                  <p>&nbsp;</p>
                  <% if order.payment_method.is_a?(PaymentMethod::SberBankInvoice) %>
                    <p><%= link_to 'скачать квитанцию', orders_sberbank_invoice_path(order), class: 'button' %></p>
                  <% end %>
                  <p><br>&nbsp;</p>
                  <p>Доставка: <%= order.shipping_method.name %></p>
                  <p>Получатель: <%= order.ship_address.firstname %> <%= order.ship_address.lastname %></p>
                  <p>Адрес доставки заказа:</p>
                  <p><%= order.ship_address.address1 %></p>
                  <p><br>&nbsp;</p>
<!--                   <form>
                    <h5>Печатные формы:</h5>
                    <input type="checkbox"><label>Инвойс</label>
                    <input type="checkbox"><label>Квитанция</label>
                    <p><input type="submit" class="button" value="ПЕЧАТЬ"></p>
                  </form> -->
                </div>
                <h4>Заказанные продукты:</h4>
                <ul class="dotted">
                  <% order.line_items.each do |line_item| %>
                    <li>
                      <p class="num">кол-во: <%= line_item.quantity %></p>
                      <p class="name"><%= line_item.variant.product.name %></p>
                      <p>
                        <span class="size">размер: 43</span>
                        <span class="color">цвет: черный</span>
                        <span class="price">цена:   <%= product_price(line_item.variant) %></span>
                      </p>
                    </li>
                  <% end %>
                </ul>
              </div>
            </li>
            <% end %>
          <% end %>
        </ul>
      </div>
