<div class="form-box">
    <%= form_for :user, :url => user_session_path, remote: true do |f| %>
      <div class="form-item w346">
        <%= f.label :email , 'EMAIL' %>
        <%= f.text_field :email, class: 'textfield' %>
      </div>
      <div class="form-item w346">
        <%= f.label :password , 'ПАРОЛЬ' %>
        <%= f.password_field :password, class: 'textfield' %>
      </div>
      <div class="form-item w110">
        <div class="checkbox-box">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, 'Запомнить' %>
        </div>
      </div>
      <div class="form-item w144">
        <a href="/user/password/new" class="remind_link">ВСПОМНИТЬ ПАРОЛЬ</a>
      </div>
      <div class="form-item w94">
        <span class="btn-wrap"><input type="submit" class="button" value="ВОЙТИ"></span>
      </div>
    <% end %>
  </div>
  
  <h3 class="large"><a href="registration" class="dotted registration_link">РЕГИСТРАЦИЯ</a></h3>
  