<% if @order %>
  <div class="checkout-step <%= 'current' if @order.state == 'cart' %>" id="cart" <%= 'style=display:none;' unless @order.state == 'cart' %>> 
    <div class="wrapper">
      <%= render 'checkout/cart' if @order.state == 'cart' %>
    </div>
  </div>

  <div class="checkout-step <%= 'current' if @order.state == 'address' %>" id="address" <%= 'style=display:none;' unless @order.state == 'address' %>>
    <div class="wrapper">
      <%= render 'checkout/address', order: @order if @order.state == 'address' %>
    </div>
  </div>

  <div class="checkout-step <%= 'current' if @order.state == 'payment' %>" id="payment" <%= 'style=display:none;' unless @order.state == 'payment' %>>
    <div class="wrapper">
      <%= render 'checkout/payment' if @order.state == 'payment' %>
    </div>
  </div>

  <div class="checkout-step <%= 'current' if @order.state == 'confirm' %>" id="confirm" <%= 'style=display:none;' unless @order.state == 'confirm' %>>
    <div class="wrapper">
      <%= render 'checkout/confirm' if @order.state == 'confirm' %>
    </div>
  </div>

  <div class="checkout-step <%= 'current' if @order.state == 'complete' %>" id="complete" <%= 'style=display:none;' unless @order.state == 'complete' %>>
    <div class="wrapper">
      <%= render 'checkout/complete' if @order.state == 'complete' %>
    </div>
  </div>

  <div class="checkout-step" id="robokassa" style="display:none;">
    <div class="wrapper">
    </div>
  </div>
<% else %>
  <div class="checkout-step current" id="cart">
    <div class="wrapper">
      <%= render 'checkout/cart'%>
    </div>
  </div>

  <div class="checkout-step" id="address" style="display:none;">
    <div class="wrapper">     
    </div>
  </div>

  <div class="checkout-step" id="payment" style="display:none;">
    <div class="wrapper">
    </div>
  </div>

  <div class="checkout-step" id="confirm" style="display:none;">
    <div class="wrapper">
    </div>
  </div>

  <div class="checkout-step" id="complete" style="display:none;">
    <div class="wrapper">
    </div>
  </div>

  <div class="checkout-step" id="robokassa" style="display:none;">
    <div class="wrapper">
    </div>
  </div>
<% end %>




