<% if products.empty? %>
<div class="shop-items-list m-height">
	  <div class="seacrh-none">
        НИЧЕГО НЕ НАЙДЕНО :-(
      </div>
</div>
<% elsif params.key?(:keywords) %>
  <h1><%= t(:search_results, :keywords => h(params[:keywords])) %></h1>
<% end %>
 
<% if products.any? %>
<ul class="shop-items-list m-height">
  <% products.each do |product| %>
    <% if Spree::Config[:show_zero_stock_products] || product.has_stock? %>
      <li id="product_<%= product.id %>">
        <%= hook :products_list_item, {:product => product} do %>
          <%= link_to product_image(product), product %>
          <div>
        	<span class="price"><%= product.price %> <em>руб.</em></span>
          	<p><%= product.name %></p>
          </div>          
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>
<% end %>
    
<% if last_page > 1 %>
<ul class="pagination">
  <% if (page-1) >= 1 %>
	  <% if is_search == true %>
	  <li class="prev"><a href="?keywords=<%= params['keywords']%>&page=<%= (page-1)%>">« Назад</a></li>
	  <% else %>
	  <li class="prev"><a href="?page=<%= (page-1)%>">« Назад</a></li>
	  <% end %>
  <% end %>
  <% 1.upto(last_page) do|i| %>
  	<% if page == i %>
      <% if is_search == true %>
      <li class="cur"><a href="?keywords=<%= params['keywords']%>&page=<%= i %>"><%= i %></a></li>
      <% else %>  	
  	  <li class="cur"><a href="?keywords="?page=<%= i %>"><%= i %></a></li>
  	  <% end %>
  	<% else %>
      <% if is_search == true %>
      <li><a href="?keywords=<%= params['keywords']%>&page=<%= i %>"><%= i %></a></li>
      <% else %>  	
  	  <li><a href="?page=<%= i %>"><%= i %></a></li>
  	  <% end %>
  	<% end %>
  <% end %>
  <% if (page+1) <= last_page %>
  <% if is_search == true %>
  <li class="next"><a href="?keywords=<%= params['keywords']%>&page=<%= (page+1)%>">Вперед »</a></li>
  <% else %>  
  <li class="next"><a href="?page=<%= (page+1)%>">Вперед »</a></li>
  <% end %>
  <% end %>
</ul>
<% end %>
