<% if !@order || @order.line_items.empty? %>
  <h3>ВАША КОРЗИНА:</h3>
      
  <div class="cart-list-empty dotted">
    ПУСТА
  </div>
      
  <div class="cart-deliver-box">
    Срок доставки по Москве и Санкт-Петербургу — на следующий день.<br>
    Срок доставки в другие крупные города России — от 1 до 10 дней.<br>
    Срок доставки в отдаленные населенные пункты — до 12 дней.<br>
    <br>
    <a href="#">Все подробности доставки</a>
  </div>
<% else %>
  <h3>ВАША КОРЗИНА:</h3>

  <%= form_for @order, :url => update_cart_path, :html=> { :id => 'updatecart' }, remote: true  do |order_form| %>
    <ul class="cart-list dotted">
      <%= render :partial => 'shared/cart_form', :locals => {:order_form => order_form} %>
    </ul>

    <div class="cart-end-price dotted">
      <span>ОБЩАЯ СУММА:  <%= order_price(@order) %></span>
      Всего:  <%= @order.item_count %>
      </div>
  <% end %>  
      <div class="cart-button-box dotted ">
        <div class="form-box">
        <%= form_for @order, :url => update_checkout_registration_path, :html => { :method => :put, :id => "checkout_form_registration"}, remote: true do |f| %>
          <div class="form-item w346">
            <label>АДРЕС ЭЛЕКТРОННОЙ ПОЧТЫ</label>
            <%= f.text_field :email, class: 'textfield' %>
          </div>
          <div class="form-item w346">
            <%= f.submit 'ОФОРМИТЬ ЗАКАЗ БЕЗ РЕГИСТРАЦИИ', :class => 'button' %>
          </div>
        <% end %>
        </div>
      </div>
    
      <div class="cart-deliver-box">
      Срок доставки по Москве и Санкт-Петербургу — на следующий день.<br>
      Срок доставки в другие крупные города России — от 1 до 10 дней.<br>
      Срок доставки в отдаленные населенные пункты — до 12 дней.<br>
      <br>
      <a href="#">Все подробности доставки</a>
    </div>
<% end %>