    <div class="left-colum h540">
	  <div class="jcarousel-progress"></div>
	  <ul class="jcarousel">             	
      <% @products["male"].each do |product| %>
      	<li class="jcarousel-item">
        <figure class="shop-item-images">	
          <%= link_to large_image(product, { width: 416 }), product %>
        </figure>

        <%= form_for :order, :url => populate_orders_url, remote: true, :html => {:class => "order_populate"}  do |f| %>        
      <div class="js-variant-chooser">
        <ul style="display: none" class="js-source">
          <%  has_checked = false
          product.variants.active.each_with_index do |v,index|
            next if v.option_values.empty? || (!v.in_stock && !Spree::Config[:show_zero_stock_products])
            checked = !has_checked && (v.in_stock || Spree::Config[:allow_backorders])
            has_checked = true if checked %>
            <li>
              <label>
                <%= radio_button_tag "products[#{product.id}]", v.id, checked, :disabled => !v.in_stock && !Spree::Config[:allow_backorders] %>
                <span class="variant-on-hand"><%= v.on_hand %></span>
                <span class="variant-description">
                  <%= variant_options v %>
                </span>
                <% if variant_price_diff v %>
                  <span class="price diff"><%= variant_price_diff v %></span>
                <% end %>
              </label>
            </li>
          <% end%>
        </ul>

        <div class="shop-item-options dotted">
          <div class="left">
            <span class="label">Цвет</span>
            <ul class="shop-item-colors">
            </ul>
          </div>
          <div class="right">
            <a href="javascript:switchPage('about', true, 'sizes')" class="label">Ваш размер</a>
            <select class="select js-size-select">
            </select>
          </div>
        </div>

      </div>
        
        <div class="shop-item-text dotted">
          <p><%= product_description(product) rescue "У товара нет описания" %></p>
        </div>
        
        <div class="shop-item-buy">      
        	<%= hidden_field_tag (product.has_variants? ? :quantity : "variants[#{product.master.id}]"), 1%> 
            <button type="submit" class="add-to-cart button plus">В корзину</button>
            <% if product.on_sale? %>
              <div class="shop-item-price sale">
								<span class="old_price"><%= product_price(product) %></span>
              	<%= sale_price(product) %>
							</div>
            <% else %>
							<div class="shop-item-price">
              	<%= product_price(product) %>
							</div>
            <% end %>
          <div class="shop-item-num" style='padding-top:13px;'>
            На складе: <span class="shop-item-on-hand"></span>
          </div>
        </div>
        </li>
        <% end %>
      <% end %>
  	  </ul>
  	  </div>

    <div class="right-colum h540">
	  <div class="jcarousel-progress"></div>
	  <ul class="jcarousel">             	
      <% @products["female"].each do |product| %>
      	<li class="jcarousel-item">
        <figure class="shop-item-images">	
          <%= link_to large_image(product, { width: 416 }), product %>
        </figure>

        <%= form_for :order, :url => populate_orders_url, remote: true, :html => {:class => "order_populate"} do |f| %>        
      <div class="js-variant-chooser">
        <ul style="display: none" class="js-source">
          <%  has_checked = false
          product.variants.active.each_with_index do |v,index|
            next if v.option_values.empty? || (!v.in_stock && !Spree::Config[:show_zero_stock_products])
            checked = !has_checked && (v.in_stock || Spree::Config[:allow_backorders])
            has_checked = true if checked %>
            <li>
              <label>
                <%= radio_button_tag "products[#{product.id}]", v.id, checked, :disabled => !v.in_stock && !Spree::Config[:allow_backorders] %>
                <span class="variant-on-hand"><%= v.on_hand %></span>
                <span class="variant-description">
                  <%= variant_options v %>
                </span>
                <% if variant_price_diff v %>
                  <span class="price diff"><%= variant_price_diff v %></span>
                <% end %>
              </label>
            </li>
          <% end %>
        </ul>

        <div class="shop-item-options dotted">
          <div class="left">
            <span class="label">Цвет</span>
            <ul class="shop-item-colors">
            </ul>
          </div>
          <div class="right">
            <a href="javascript:switchPage('about', true, 'sizes')" class="label">Ваш размер</a>
            <select class="select js-size-select">
            </select>
          </div>
        </div>

      </div>
        
        <div class="shop-item-text dotted">
          <p><%= product_description(product) rescue "У товара нет описания" %></p>
        </div>
        
        <div class="shop-item-buy">       
        	<%= hidden_field_tag (product.has_variants? ? :quantity : "variants[#{product.master.id}]"), 1%>
            <button type="submit" class="add-to-cart button plus">В корзину</button>
          	<% if product.on_sale? %>
              <div class="shop-item-price sale">
								<span class="old_price"><%= product_price(product) %></span>
              	<%= sale_price(product) %>
							</div>
            <% else %>
							<div class="shop-item-price">
              	<%= product_price(product) %>
							</div>
            <% end %>
          <div class="shop-item-num" style='padding-top:13px;'>
            На складе: <span class="shop-item-on-hand"></span>
          </div>
        </div>
        </li>
      <% end %>  
      <% end %>
  	  </ul>
  	  </div>    