<% content_for :head do -%>
  <%= javascript_include_tag 'jquery.jcarousel.min.js'%>
  <%= javascript_include_tag 'product' %>
<% end -%>
<% content_for :script do -%>
<script type="text/javascript">
$(function(){
	/*$('.jcarousel').jcarousel({
		vertical: true,
		wrap: 'circular',
		animation: 'slow',
		auto: 4,
		scroll: 1,
		initCallback: function(jc, state) { 
			if (state == 'init') { 
				jc.startAutoOrig = jc.startAuto; 
				jc.startAuto = function() { 
					if (!jc.paused) { 
						jc.startAutoOrig(); 
					} 
				} 
				jc.pause = function() { 
					jc.paused = true; 
					jc.stopAuto(); 
				}; 
				jc.play = function() { 
					jc.paused = false; 
					jc.startAuto(); 
				};
				$('body').live('click', function(e) {
					jc.play();
				});
				$('.ik_select_link').live('click', function(e) {
					jc.pause();
					e.stopPropagation();
				});
			} 
			jc.play(); 
		}
	});*/

	// Самодельный jcarousel не ломающий другой js
	$('.jcarousel').each(function(){
		var container = $(this)
		  , paused = false
		  , itemHeight = container.find('.jcarousel-item').height()

		container
			.wrap('<div class="jcarousel-clip-vertical"></div>')
			.css('height', 'auto')

		setInterval(function(){
			paused || container.animate({top: -itemHeight}, 1000, 'easeInOutCubic', function(){
				container.find('.jcarousel-item').first().appendTo(container)
				container.css('top', 0)
			})
		}, 5000)

		container.on({
			mouseover: function() {console.log(paused = true)},
			mouseout: function() {console.log(paused = false)}
		})

		$('.ik_select_block').live({
			mouseover: function() {console.log(paused = true)},
			mouseout: function() {console.log(paused = false)}
		})

	});
});
</script>
<% end -%>

  <%=render 'home_products' %>	      

  <%= content_for :page do %>
    <%= render 'shared/personal_page' %>
  <% end %>

  <%= content_for :header do %>    
    <%= render 'shared/header' %>
  <% end %>

<% if params["scroll"] == "true" %>
	<%= content_for :head  do %>
	    <script>
	      $(document).ready(function(e){
	         page_height = $('.page.white').height();
	         $('html, body').animate({scrollTop: page_height + 72}, 400);
	         e.preventDefault;
	      });
	    </script>
	<% end %>
<% end %>
