<%= form_for :order, :url => populate_orders_url, remote: true, :html => {:class => "order_populate"} do |f| %>
<%= hook :inside_product_cart_form do %>
<div id="cart_wrapper">
  <% if @product.has_variants? %>
    <div id="product-variants">
    <% if defined?(SpreeEnhancedOptionTypes) %>
      <%= render :partial => (Spree::Config[:eot_presentation_type] || 'radio_sets'), :locals => {:f => f} %>
    <% else %>
      <div class="js-variant-chooser">
        <!-- Временно display:block, нужно будет поменять на none -->
        <ul style="display: none" class="js-source">
          <%  has_checked = false
          @product.variants.active.each_with_index do |v,index|
            next if v.option_values.empty? || (!v.in_stock && !Spree::Config[:show_zero_stock_products])
            checked = !has_checked && (v.in_stock || Spree::Config[:allow_backorders])
            has_checked = true if checked %>
            <li>
              <label>
                <%= radio_button_tag "products[#{@product.id}]", v.id, checked, :disabled => !v.in_stock && !Spree::Config[:allow_backorders] %>
                <span class="variant-on-hand"><%= v.on_hand %></span>
                <span class="variant-description">
                  <%= variant_options v %>
                </span>
                <% if variant_price_diff v %>
                  <span class="price diff"><%= variant_price_diff v %></span>
                <% end %>
              </label>
            </li>
          <% end%>
        </ul>

        <div class="shop-item-options dotted">
          <div class="left">
            <span class="label">Цвет</span>
            <ul class="shop-item-colors">
            </ul>
          </div>
          <div class="right">
            <span class="label">Ваш размер</span>
            <select class="select js-size-select">
            </select>
          </div>
        </div>

      </div>
    <% end %>
    </div>
  <% end %>
  <% if @product.has_stock? || Spree::Config[:allow_backorders] %>
    <%= hidden_field_tag (@product.has_variants? ? :quantity : "variants[#{@product.master.id}]"),
      1, :class => "title", :size => 3 %>
    &nbsp;
    <button type='submit' class='add-to-cart button plus'>
      <%= t('add_to_cart') %>
    </button>
    <% if @product.on_sale? %>
      <div class="shop-item-price sale">
      	<span class="old_price"><%= product_price(@product) %></span>
        <%= sale_price(@product) %>
      </div>
    <% else %>
      <div class="shop-item-price">
        <%= product_price(@product) %>
      </div>
    <% end %>
    <div class="shop-item-num">
    	На складе: <span class="shop-item-on-hand"></span>
    </div>    
  <% else %>
    <%= content_tag('strong', t('out_of_stock')) %>
  <% end %>

</div>

<% end %>
<% end %>

<% content_for :head do %>
  <%= javascript_include_tag 'product' %>
<% end %>