<% content_for :sidebar do %>
  <%= hook :homepage_sidebar_navigation do %>
    <% if "products" == @current_controller && @taxon %>
      <%= render "shared/filters" %>
    <% else %>
      <%= render "shared/taxonomies" %>
    <% end %>
  <% end %>
<% end %>


<h1>
<% if params["gender"] == "male"%>
  <span>МУЖСКОЙ ОТДЕЛ /</span>
<% end %>
<% if params["gender"] == "female"%>
  <span>ЖЕНСКИЙ ОТДЕЛ /</span>
<% end %>
<% if @product_group.nil? == false %>
	<%= @product_group["name"] %>
<% end %>
</h1>

<% if params[:keywords] %>

  <%= hook :search_results do %>
    <% if @products.empty? %>
      <%= t(:no_products_found) %>
    <% else %>
      <%= render "shared/products", :products => @products, :taxon => @taxon %>
    <% end %>
  <% end %>

<% else %>

  <%= hook :homepage_products do %>
    <%= render "shared/products", :products => @products, :taxon => @taxon %>
  <% end %>


<% end %>