<%= content_for :header do %>    
  <%= render 'shared/header' %>
<% end %>
<%= content_for :title_add do %>    
  <%= @product.name %>
<% end %>
<% content_for :head do -%>
  <%= stylesheet_link_tag 'basic-jquery-slider.css' %>
  <%= javascript_include_tag 'basic-jquery-slider.js'%>
<% end -%>
<% content_for :script do -%>
<script type="text/javascript">
$(document).ready(function() {   
    $('#slider').bjqs({
        'animation' : 'slide',
        'width' : 416,
		'height' : 305,
		'automatic': false,
		'showMarkers': false,
		'nextText': '',
		'prevText': ''
	   });
});
</script>
<% end -%>
<% @body_id = 'product-details' %>
<% if @product.gender == 2 %>
<div class="left-colum">
      <div class="shop-item-text dotted">
      	<a href="/pg/<%= @product.product_groups[0].permalink %>/female"><img alt="<%= @product.product_groups[0].name %>" height="70" src="<%= @product.product_groups[0].icon %>"></a>      	
      	<h2><%= @product.name %></h2>
      	<p class="product-description"><%= product_description(@product) rescue t("product_has_no_description") %></p>
      	<%= render 'shared/social' %>
      </div>
      
      <% if @next_products.empty? == false %>
      <h3>Возможно, вам понравятся такие модели:</h3>
      
      <ul class="shop-items-list">
      	<% @next_products.each do|next_product| %>
      <li>
      	<%= link_to small_image(next_product), next_product %>
      </li>
      <% end %>
    </ul>
    <% end %>
</div>
    

<div class="right-colum">
	<figure class="shop-item-images">		
		<div id="slider">
        <ul class="bjqs">
        <% if @product.images.empty? %>
        	<li><img alt="<%= @product.name %>" src="/images/noimage/large.jpg"></li>
        <% end %>
        <% @product.images.each do|image| %>
			    <li>
            <img alt="<%= @product.name %>" src="<%= image.attachment.url(:large) %>">
            <figcaption class="lightbox">
              <a rel="group1" class="product_image_link" href="<%= image.attachment.url(:original) %>">go</a>
            </figcaption>
          </li>
		    <% end %>
        </ul>			
    	</div>
      <% unless @product.images.empty? %>
        <figcaption class="hint">
        	Нажми на фотографию чтобы<br>посмотреть другой ракурс
        </figcaption>
      <% end %>    	
	</figure>
      
      <div class="shop-item-buy dotted">
	      <%= hook :cart_form do %>
		  <div id="cart-form">
	    	<%= render 'cart_form' %>
	  	  </div>
		  <% end %>
	  </div>    	
	  <a href="javascript: history.go(-1)" class="shop-item-forward">Назад к списку</a>      
    </div>
<% else %>
<div class="left-colum">
	<figure class="shop-item-images">		
		<div id="slider">
        <ul class="bjqs">
        <% if @product.images.empty? %>
        	<li><img alt="<%= @product.name %>" src="/images/noimage/large.jpg"></li>
        <% end %>        	
        <% @product.images.each do|image| %>
          <li>
            <img alt="<%= @product.name %>" src="<%= image.attachment.url(:large) %>">
            <figcaption class="lightbox">
              <a rel="group1" class="product_image_link" href="<%= image.attachment.url(:original) %>">go</a>
            </figcaption>
          </li> 
        <% end %>
        </ul>
        <% unless @product.images.empty? %>
          <figcaption class="hint">
            Нажми на фотографию чтобы<br>посмотреть другой ракурс
          </figcaption>		
        <% end %>	
    	</div>  	
	</figure>
      
      <div class="shop-item-buy dotted">
	      <%= hook :cart_form do %>
		  <div id="cart-form">
	    	<%= render 'cart_form' %>
	  	  </div>
		  <% end %>
	  </div>
                  
      <a href="javascript: history.go(-1)" class="shop-item-back">Назад к списку</a>
      
    </div>
    

<div class="right-colum">
    	
      <div class="shop-item-text dotted">
      	<a href="/pg/<%= @product.product_groups[0].permalink %>/male"><img alt="<%= @product.product_groups[0].name %>" height="70" src="<%= @product.product_groups[0].icon %>"></a>      	
      	<h2><%= @product.name %></h2>
      	<p class="product-description"><%= product_description(@product) rescue t("product_has_no_description") %></p>
      	<%= render 'shared/social' %>
      </div>
      
      <% if @next_products.empty? == false %>
      <h3>Возможно, вам понравятся такие модели:</h3>
      
      <ul class="shop-items-list">
      	<% @next_products.each do|next_product| %>
      	<li>
        	<%= link_to small_image(next_product), next_product %>
        </li>
        <% end %>
      </ul>
      <% end %>
      
    </div>
<% end %>

            <script>
              $(document).ready(function() {
                $("a.product_image_link").fancybox({
                  'transitionIn'  : 'elastic',
                  'transitionOut' : 'elastic',
                  'speedIn'   : 600, 
                  'speedOut'    : 200, 
                  'overlayShow' : false
                });                
              });
            </script> 
