<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Candies <%= yield(:title_add)%></title>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="shortcut icon" href="/images/favicon.png">
  <link href='http://fonts.googleapis.com/css?family=Ubuntu+Condensed&subset=latin,cyrillic-ext,cyrillic' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag 'style' %>
  <%= stylesheet_link_tag 'jquery.fancybox.css' %>
  <!--[if lte IE 7]><%= stylesheet_link_tag 'ie' %><![endif]-->
  <%= javascript_include_tag 'libs/jquery-1.7.2.min',
                             'libs/jquery-ui-1.8.21.custom.min',
                             'libs/jquery.ikselect.min',
                             'libs/modernizr-2.0.6.min',
                             'libs/jquery.fancybox.pack.js',
                             'jquery.easing.1.3.js',
                             'rails.js',
                             'script.js' %>
  <%= javascript_include_tag :defaults %>                   
  <%= csrf_meta_tag %>
  <%= yield(:head) %>
</head>
<body>
<%= yield :afterbody %>
<div id="header_wrapper">
  <%= yield :header %>
</div>

<div class="page white">
  <div class="wrapper">
    
    <div class="basket">
      <%= render 'shared/cart_quantity' %>
    </div>

    <div class="left-colum">
      <nav class="catalog-menu dotted <%= 'dimmed' if get_gender == 'female' %>">
        <div class="icon-sex"><a href="/t/kollektsii/vse-kollektsii/male"><img src="/images/ico_male.png" width="55" height="67" alt="male"></a></div>
        <ul class="catalog-menu-first">
          <% retrieve_collections.each do |collection| %>
            <li><%= link_to collection.name, seo_url(collection) + "/male" %></li>
          <% end %>
        </ul>
        <ul class="catalog-menu-second">
          <% retrieve_brands.each do |brand| %>
            <li><%= link_to brand.name, "/pg/#{brand.permalink}/male" %></li>
          <% end %>
        </ul>
      </nav>
    </div>
    <div class="right-colum">
      <nav class="catalog-menu dotted <%= 'dimmed' if get_gender == 'male' %>">
        <div class="icon-sex"><a href="/t/kollektsii/vse-kollektsii/female"><img src="/images/ico_female.png" width="55" height="67" alt="female"></a></div>
        <ul class="catalog-menu-first">
          <% retrieve_collections.each do |collection| %>
            <li><%= link_to collection.name, seo_url(collection) + "/female" %></li>
          <% end %>
        </ul>
        <ul class="catalog-menu-second">
          <% retrieve_brands.each do |brand| %>
            <li><%= link_to brand.name, "/pg/#{brand.permalink}/female" %></li>
          <% end %>
        </ul>
      </nav>
    </div>
    <!-- /catalog-menu -->

    <%= yield %>

  </div>
</div>

<div class="pages">
  <div class="page js-page-personal">
    <%= render 'shared/personal_page' %>
  </div>

  <div class="page js-page-about">
    <%= render 'shared/about_page' %>
  </div>
</div>

<!-- <a href="http://whitescape.com" class="copyright-link"></a> -->
<%= yield(:script) %>
</body>
</html>